p {
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.sidebar {
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    gap: 5%;
    border: 1px solid black;
}

.sidebar>div>a {
    text-decoration: none;
}

.contentContainer {
    display: grid;
    grid-template-rows: 1fr 8fr;
    border: 1px solid black;
}

#content {
    border: 1px solid black;
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
}



